<html>

<head>

    <% include ../includes/styles %>
    <% include ../includes/scripts %>
    <script type="text/javascript" src="/javascripts/societyDetailsJS.js"></script>
</head>

<body>
    <div class="wrapper ">
         <div class="sidebar" data-color="orange_light">
            <!--
                                  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
                              -->
            <div class="logo">
                <h4><a href="" class="simple-text logo-normal">
                            Nurture Software
                        </a></h4>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
                <ul class="nav">
                    <!-- dashboard link moved to navbar by ranjeet -->

                    <li id="sub_menu" >

                        <a href="#">
                            <i class="material-icons" style="font-size: 25px;">group</i>
                            <strong class="fnt">Members</strong>
                        </a>
                        <ul class="hid sub_col">

                            <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/memberdetails_search" class="ml-1" style="color: #ffffff;">Members</a>
                            </div>

                            <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_div_search" class="ml-1" style="color: #ffffff;">Members
                                        </a></div>

                            <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_share_search" class="ml-1" style="color: #ffffff;">Members
                                        Share Details</a></div>

                            <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_farm_search" class="ml-1" style="color: #ffffff;">Farm
                                        Machinery Details</a></div>

                            <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_hse_det_ser" class="ml-1" style="color: #ffffff;">House
                                        Details</a></div>

                            <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/kcc_search" class="ml-1" style="color: #ffffff;">KCC
                                        Details</a></div>

                        </ul>
                    </li>
                      <li id="sub_menu">
                        <a href="#">
                            <i class="material-icons" style="font-size: 25px;">account_balance</i>
                            <strong class="fnt">Bank</strong>
                        </a>
                        <ul class="hid mt-1 sub_col">

                            <div class="sub_mar"><a class="ml" href="/bankModule/bankDetails/asso_bank_search" style="color: #ffffff">Associated
                                        Bank</a></div>

                            <div class="sub_mar"><a class="ml" href="/bankModule/bankDetails/asso_branch_search" style="color: #ffffff">Associated Branch</a></div>

                            <div class="sub_mar">
                                <a class="ml" href="/bankModule/bankDetails/asso_bank_account_master_search" style="color: #ffffff">Associated Bank Account Master</a>
                            </div>

                            <div class="sub_mar">
                                <a class="ml" href="/bankModule/bankDetails/asso_bank_cheque_book_search" style="color: #ffffff">Associated Bank Cheque Book</a>
                            </div>

                            <div class="sub_mar">
                                <a class="ml" href="/bankModule/bankDetails/asso_bank_account_search" style="color: #ffffff">Associated Bank Account Type</a>
                            </div>

                            <div class="sub_mar">
                                <a class="ml" href="/bankModule/bankDetails/asso_bank_deposit_returns_search" style="color: #ffffff">Associated Bank Deposit Returns</a>
                            </div>


                            <div class="sub_mar">
                                <a class="ml" href="/bankModule/bankDetails/asso_bank_deposit_master_search" style="color: #ffffff">Associated Bank Deposit Master</a>
                            </div>

                        </ul>
                    </li>

                    <li id="sub_menu">
                        <a href="#">
                            <i class="material-icons" style="font-size: 25px;">group</i>
                            <strong class="fnt">Accounts</strong>
                        </a>
                        <ul class="hid sub_col">
                            <div class="sub_mar"><a style="color: #ffffff;" href="/accountsModule/accountsDetails/acc_search" class="">
Accounts
</a></div>
                            <div class="sub_mar"><a href="/accountsModule/accountsDetails/acc_lmt_search" class="" style="color: #ffffff;">Account Limits</a></div>
                            <div class="sub_mar"><a href="/accountsModule/accountsDetails/acc_renewal_details_search" class="" style="color: #ffffff;">Account Renewal</a></div>
                            <div class="sub_mar"><a href="/accountsModule/accountsDetails/acc_trnsc_search" class="" style="color: #ffffff;">Account Transaction</a></div>
                        </ul>
                    </li>

                  
                           <!-- societies -->

                           <li id="sub_menu" class="active">

                            <a href="#">
                                <i class="material-icons" style="font-size: 25px;">group</i>
                                <strong class="fnt">Society</strong>
                            </a>
                            <ul class="hid sub_col">

                                <div class="sub_mar"><a href="/societyModule/societyDetails/scty_holiday_lst_search"
                                        class="ml-1" style="color: #ffffff;">Holiday List</a>
                                </div>

                                <div class="sub_mar"><a href="/societyModule/societyDetails/scty_dept_search"
                                        class="ml-1" style="color: #ffffff;">Department
                                        </a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_bank_search"
                                        class="ml-1" style="color: #ffffff;">Bank</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_branch_search"
                                        class="ml-1" style="color: #ffffff;">Branch</a></div>

                                <div class="sub_mar"><a href="/societyModule/societyDetails/scty_chq_book_det_search"
                                        class="ml-1" style="color: #ffffff;">ChequeBook Details</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_acc_schm_search"
                                        class="ml-1" style="color: #ffffff;">Account Scheme</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_acc_typ_search"
                                        class="ml-1" style="color: #ffffff;">Account Type</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_insurance_search"
                                        class="ml-1" style="color: #ffffff;">Insurance</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_kcc_trgt_search"
                                        class="ml-1" style="color: #ffffff;">KCC Targets</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_kcc_cr_lim_search"
                                        class="ml-1" style="color: #ffffff;">KCC Credit Limit</a></div>
                            </ul>
                        </li>
                        <!-- socities end -->
  <li>
                        <a href="/login/deposits">
                            <i class="material-icons" style="font-size: 25px;">thumbs_up_down</i>
                            <strong class="fnt">Deposits</strong>
                        </a>
                    </li>


                    <li>
                        <a href="/login/loans">
                            <i class="material-icons" style="font-size: 25px;">file_upload</i>
                            <strong class="fnt">Loans</strong>
                        </a>
                    </li>

                  


                    <li>
                        <a href="/login/market">
                            <i class="material-icons" style="font-size: 25px;">local_grocery_store</i>
                            <strong class="fnt">Market</strong>
                        </a>
                    </li>

                    <li>
                        <a href="/login/reports">
                            <i class="material-icons" style="font-size: 25px;">date_range</i>
                            <strong class="fnt">Reports</strong>
                        </a>
                    </li>



                    <li>

                        <a href="/login/payroll">
                            <i class="material-icons" style="font-size: 25px;">payment</i>
                            <strong class="fnt">Payroll</strong>
                        </a>



                    </li>
                    <li>
                        <a href="/login/hr">
                            <i class="material-icons" style="font-size: 25px;">account_box</i>
                            <strong class="fnt">HR</strong>
                        </a>
                    </li>


                    <li>

                        <a href="/login/user">
                            <i class="material-icons" style="font-size: 25px;">person</i>
                            <strong class="fnt">User</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg colo">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </button>
                        </div>
                        <a class="navbar-brand" href="#pablo"><strong>SOCIETY</strong> </a>
                    </div>
                    <button class="navbar-toggler dot" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                        </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">
                            <li class="">
                                <a class="nav-link" href="/dashboards/dashboard/dashboard">
                                    <i class="material-icons" style="font-size: 25px;">dashboard</i>

                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <strong class="fnt">User 1</strong>
                                    <i class="now-ui-icons users_single-02 ml-2"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block"></span>
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Upload Photo<i
                                                class=" material-icons ml-2">add_a_photo</i></a>
                                    <a class="dropdown-item" href="#">Logout &nbsp;&nbsp;&nbsp;&nbsp;<i
                                                class=" ml-5 material-icons">power_settings_new</i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->

            <%if(pagetype=='ADD'){%>
            <div class="content">
                <div class="row-sm ">
                    <div class="col-sm-12">
                        <div class="card tp">
                            <div class="card-header hdr"><h5>DEPARTMENT</h5></div>
                            <div class="card-body">

                                <div class="content">

                            <!-- flash message -->
                                <% if(locals.message){ %>
                                    <div class="text text-center" role="alert" background-color: red;>
                                        <strong style="color:green"><%= message.success_msg %></strong>
                                    </div>
                                    <% } %>

                                    <!-- Form Start -->



                                        <h6>ADD RECORD</h6>
                                        <hr>

                                        <form  action="../../societyModule/societyDetails/scty_dept_insert" method="post"
                                        id="scty_dept_ad" autocomplete="off">
                                        <div class="container row mt-2">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="dept_code_add" class="mr-sm-4 col-sm-12 col-md-5"
                                                    style="padding-left:0% !important;">Department Code</label>
                                                    <select class="col-sm-12 col-md-6" id="dept_code_add"
                                                    name="dept_code_add">
                                                    <option disabled="" selected="" value="">Select
                                                    </option>
                                                      <!-- changed the dropdown values as per the requirenment,changes made by swarrna -->
                                                    <option value="001">001</option>
                                                    <option value="002">002</option>
                                                    <option value="003">003</option>

                                                </select>

                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label for="dept_name_add" class="mr-sm-4 col-sm-12 col-md-5"
                                                    style="padding-left:0% !important;">Department Name</label>
                                                    <select class="col-sm-12 col-md-6" id="dept_name_add"
                                                    name="dept_name_add">
                                                    <option disabled="" selected="" value="">Select
                                                    </option>
                                                    <option value="Member">Member</option>
                                                    <option value="Deposits">Deposits</option>
                                                    <option value="Loans">Loans</option>

                                                </select>

                                            </div>
                                        </div>
                                        <div class="container row mt-2">
                                            <div class="col-sm-12 col-md-6">
                                                <!-- changed textbox field to textarea field.changes made by swarna -->
                                                <label for="desc_add" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Description</label>
                                                <textarea rows="3" class="col-sm-12 col-md-6" name="desc_add"
                                                id="desc_add" placeholder="" style="text-transform: capitalize" maxlength="" onkeypress=""></textarea>
                                              </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label for="sec_name_add" class="mr-sm-4 col-sm-12 col-md-5"
                                                    style="padding-left:0% !important;">Section Name</label>
                                                <input type="text" class="col-sm-12 col-md-6" name="sec_name_add"
                                                    id="sec_name_add" placeholder="" style="text-transform: capitalize" maxlength="10" onkeypress="return desc(event)">

                                            </div>
                                        </div>





                                        <!-- buttons -->
                                        <div class="container row mt-4">
                                            <div class="col-sm-12 col-md-2">
                                                <a type="text" class="btn"
                                                    href="/societyModule/societyDetails/scty_dept_search"
                                                    name="bck_search" id="bck_search" value="Back to Search">Back to
                                                    Search</a>

                                            </div>
                                            <div class="col-sm-12 col-md-3">
                                                <input type="button" class="btn clr clr1" name="clear_frm" id="clear_frm"
                                                    value="Clear Form" onclick="clearDepartmentDetails()">

                                            </div>
                                            <div class="col-sm-12 col-md-5"></div>
                                            <div class="col-sm-12 col-md-2">
                                                <input type="button" class="btn" name="sub" id="sub" value="Submit" onclick="departmentDetails()">
                                                    
                                            </div>
                                        </div>
                                    </form>

                                    </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>



     <!-- add record end -->


<!--view start-->



<%if(pagetype=='VIEW'){%>
        <div class="content">
            <div class="row-sm ">
                <div class="col-sm-12">
                    <div class="card tp">
                        <div class="card-header hdr"><h5>DEPARTMENTS</h5></div>
                        <div class="card-body">


                            <div class="content">


                                <!-- Form Start -->





                                    <h6>VIEW RECORD</h6>
                                    <hr>
                                    <fieldset disabled>
                                    <div class="container row mt-2">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="dept_code_vw" class="mr-sm-4 col-sm-12 col-md-5"
                                                style="padding-left:0% !important;">Department Code</label>
                                                <select class="col-sm-12 col-md-6" id="dept_code_vw"
                                                name="dept_code_vw">
                                                <option value="<%=vw_scdep_cd%>"><%=vw_scdep_cd%>
                                                </option>

                                            </select>

                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label for="dept_name_vw" class="mr-sm-4 col-sm-12 col-md-5"
                                                style="padding-left:0% !important;">Department Name</label>
                                                <select class="col-sm-12 col-md-6" id="dept_name_vw"
                                                name="dept_name_vw">
                                                <option value="<%=vw_scdep_name%>"><%=vw_scdep_name%>
                                                </option>

                                            </select>

                                        </div>
                                    </div>
                                    <div class="container row mt-2">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="desc_vw" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Description</label>
                                            <textarea rows="4" class="col-sm-12 col-md-6" name="desc_vw"
                                            id="desc_vw" placeholder="" style="text-transform: capitalize" value="<%=vw_scdes_name%>"></textarea>

                                          </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label for="sec_name_vw" class="mr-sm-4 col-sm-12 col-md-5"
                                                style="padding-left:0% !important;">Section Name</label>
                                            <input type="text" class="col-sm-12 col-md-6" name="sec_name_vw"
                                                id="sec_name_vw" placeholder="" style="text-transform: capitalize" value="<%=vw_scsect_name%>" >
                                                <input hidden type="number" class="col-sm-12 col-md-6" name="soc_hide_id_vw" id="soc_hide_id_vw"
                                                placeholder="" value="<%=view_sctydep_id%>">
                                        </div>
                                    </div>

                                </fieldset>




                                    <!-- buttons -->
                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-2">
                                            <a type="text" class="btn"
                                                href="/societyModule/societyDetails/scty_dept_search"
                                                name="bck_search" id="bck_search" value="Back to Search">Back to
                                                Search</a>

                                        </div>

                                    </div>
                                </form>

                                </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>

        <%}%>


<!--view end-->

<!--edit start-->



<%if(pagetype=='EDIT'){%>
    <div class="content">
        <div class="row-sm ">
            <div class="col-sm-12">
                <div class="card tp">
                    <div class="card-header hdr"><h5>DEPARTMENTS</h5></div>
                    <div class="card-body">


                        <div class="content">

                                    <!-- flash message -->
                                    <% if(locals.message){ %>
                                        <div class="text text-center" role="alert" background-color: red;>
                                            <strong style="color:green"><%= message.success_msg %></strong>
                                        </div>
                                        <% } %>


                            <!-- Form Start -->





                                <h6>EDIT RECORD</h6>
                                <hr>

                                <form  action="../../societyModule/societyDetails/scty_dept_update" method="post"
                                id="scty_dept_ed" autocomplete="off">
                                <div class="container row mt-2">
                                    <div class="col-sm-12 col-md-6">
                                        <label for="dept_code_ed" class="mr-sm-4 col-sm-12 col-md-5"
                                            style="padding-left:0% !important;">Department Code</label>
                                            <select class="col-sm-12 col-md-6" id="dept_code_ed"
                                            name="dept_code_ed">
                                            <option value="<%=ed_scdep_cd%>"><%=ed_scdep_cd%>
                                            </option>
                                            <!-- changed the dropdown value as per the requirenment,changed by swarna-->
                                            <option value="001">001</option>
                                            <option value="002">002</option>
                                            <option value="003">003</option>
                                        </select>


                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <label for="dept_name_ed" class="mr-sm-4 col-sm-12 col-md-5"
                                            style="padding-left:0% !important;">Department Name</label>
                                            <select class="col-sm-12 col-md-6" id="dept_name_ed"
                                            name="dept_name_ed">
                                            <option value="<%=ed_scdep_name%>"><%=ed_scdep_name%> 
                                            </option>           
                                            <option value="Member">Member</option>
                                            <option value="Deposits">Deposits</option>
                                            <option value="Loans">Loans</option>

                                        </select>

                                    </div>
                                </div>
                                <div class="container row mt-2">
                                    <div class="col-sm-12 col-md-6">
                                        <label for="desc_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Description</label>
                                        <!-- changed the field textarea to textbox as per the requirenment,changed by swarna -->
                                        <textarea rows="4" class="col-sm-12 col-md-6" name="desc_ed"
                                        id="desc_ed" placeholder="" style="text-transform: capitalize" value="<%=ed_scdes_name%>" maxlength="30" onkeypress=" "></textarea>

                                      </div>
                                    <div class="col-sm-12 col-md-6">
                                        <label for="sec_name_ed" class="mr-sm-4 col-sm-12 col-md-5"
                                            style="padding-left:0% !important;">Section Name</label>
                                        <input type="text" class="col-sm-12 col-md-6" name="sec_name_ed"
                                            id="sec_name_ed" placeholder="" style="text-transform: capitalize" value="<%=ed_scsect_name%>" maxlength="10" onkeypress="return desc(event)">
                                            
                                    </div>
                                </div>
                                <!-- buttons -->
                                <div class="container row mt-4">
                                    <div class="col-sm-12 col-md-2">
                                            <input hidden type="number" class="col-sm-12 col-md-6" name="soc_hide_id" id="soc_hide_id"
                                            placeholder="" value="<%=edit_soc_dept%>">
                                        <a type="text" class="btn"
                                            href="/societyModule/societyDetails/scty_dept_search"
                                            name="bck_search_ed" id="bck_search_ed" value="Back to Search">Back to
                                            Search</a>

                                    </div>
                                    <div class="col-sm-12 col-md-3">
                                        <input type="button" class="btn clr clr1" name="clear_frm_ed" id="clear_frm_ed"
                                            value="Clear Form" onclick="edit_ClrDepartmentDetails()">

                                    </div>
                                    <div class="col-sm-12 col-md-5"></div>
                                    <div class="col-sm-12 col-md-2">
                                            
                                        <input type="button" class="btn" name="sub_ed" id="sub_ed" value="Submit"
                                            onclick="edit_departmentDetails()">
                                    </div>
                                </div>
                            </form>

                            </div>
                            </div>
                </div>
            </div>
        </div>
    </div>

    <%}%>

 <% include ../includes/footer %>

        </div>
          </div>





</body>
<% include ../includes/bottom_scripts %>

</html>