<html>

    <head>
        <% include ../includes/styles %>
        <% include ../includes/scripts %>
        <script type="text/javascript" src="/javascripts/societyDetailsJS.js"></script>

    </head>

    <body>

        
            <form action="/societyModule/societyDetails/scheme_edit" method="post" id="edit_data_load_form" hidden>
                <input id="tempschided" name="tempschided" hidden>
    
            </form>
    
            <form action="/societyModule/societyDetails/view_sheme_data" method="post" id="view_data_load_form" hidden>
                <input id="tempschidvw" name="tempschidvw" hidden>
    
            </form>

        <div class="wrapper ">
            <div class="sidebar" data-color="orange_light">
                <!--
                              Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
                          -->
                <div class="logo">
                    <h4><a href="" class="simple-text logo-normal">
                            Nurture Software
                        </a></h4>
                </div>
                <div class="sidebar-wrapper" id="sidebar-wrapper">
                    <ul class="nav">
                        <!-- dashboard link moved to navbar by ranjeet -->

                        <li id="sub_menu">

                            <a href="#">
                                <i class="material-icons" style="font-size: 25px;">group</i>
                                <strong class="fnt">Members</strong>
                            </a>
                            <ul class="hid sub_col">

                                <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/memberdetails_search"
                                        class="ml-1" style="color: #ffffff;">Members</a>
                                </div>

                                <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_div_search"
                                        class="ml-1" style="color: #ffffff;">Members
                                        Dividend</a></div>

                                <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_share_search"
                                        class="ml-1" style="color: #ffffff;">Members
                                        Share Details</a></div>

                                <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_farm_search"
                                        class="ml-1" style="color: #ffffff;">Farm
                                        Machinery Details</a></div>

                                <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_hse_det_ser"
                                        class="ml-1" style="color: #ffffff;">House
                                        Details</a></div>

                                <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/kcc_search"
                                        class="ml-1" style="color: #ffffff;">KCC
                                        Details</a></div>

                            </ul>
                        </li>
                          <li id="sub_menu">
                            <a href="#">
                                <i class="material-icons" style="font-size: 25px;">account_balance</i>
                                <strong class="fnt">Bank</strong>
                            </a>
                            <ul class="hid mt-1 sub_col">

                                <div class="sub_mar"><a class="ml" href="/bankModule/bankDetails/asso_bank_search"
                                        style="color: #ffffff">Associated
                                        Bank</a></div>

                                <div class="sub_mar"><a class="ml" href="/bankModule/bankDetails/asso_branch_search"
                                        style="color: #ffffff">Associated Branch</a></div>

                                <div class="sub_mar">
                                    <a class="ml" href="/bankModule/bankDetails/asso_bank_account_master_search"
                                        style="color: #ffffff">Associated Bank Account Master</a>
                                </div>

                                <div class="sub_mar">
                                    <a class="ml" href="/bankModule/bankDetails/asso_bank_cheque_book_search"
                                        style="color: #ffffff">Associated Bank Cheque Book</a>
                                </div>

                                <div class="sub_mar">
                                    <a class="ml" href="/bankModule/bankDetails/asso_bank_account_search"
                                        style="color: #ffffff">Associated Bank Account Type</a>
                                </div>

                                <div class="sub_mar">
                                    <a class="ml" href="/bankModule/bankDetails/asso_bank_deposit_returns_search"
                                        style="color: #ffffff">Associated Bank Deposit Returns</a>
                                </div>


                                <div class="sub_mar">
                                    <a class="ml" href="/bankModule/bankDetails/asso_bank_deposit_master_search"
                                        style="color: #ffffff">Associated Bank Deposit Master</a>
                                </div>

                            </ul>
                        </li>

                        <li id="sub_menu">
                            <a href="#">
                                <i class="material-icons" style="font-size: 25px;">group</i>
                                <strong class="fnt">Accounts</strong>
                            </a>
                            <ul class="hid sub_col">
                                <div class="sub_mar"><a style="color: #ffffff;"
                                        href="/accountsModule/accountsDetails/acc_search" class="">
                                        Accounts
                                    </a></div>
                                <div class="sub_mar"><a href="/accountsModule/accountsDetails/acc_lmt_search" class=""
                                        style="color: #ffffff;">Account Limits</a></div>
                                <div class="sub_mar"><a
                                        href="/accountsModule/accountsDetails/acc_renewal_details_search" class=""
                                        style="color: #ffffff;">Account Renewal</a></div>
                                <div class="sub_mar"><a href="/accountsModule/accountsDetails/acc_trnsc_search" class=""
                                        style="color: #ffffff;">Account Transaction</a></div>
                            </ul>
                        </li>

                        <li id="sub_menu" class="active">

                            <a href="#">
                                <i class="material-icons" style="font-size: 25px;">group</i>
                                <strong class="fnt">Society</strong>
                            </a>
                            <ul class="hid sub_col">

                                <div class="sub_mar"><a href="/societyModule/societyDetails/scty_holiday_lst_search"
                                        class="ml-1" style="color: #ffffff;">Holiday List</a>
                                </div>

                                <div class="sub_mar"><a href="/societyModule/societyDetails/scty_dept_search"
                                        class="ml-1" style="color: #ffffff;">Department
                                        Dividend</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_bank_search"
                                        class="ml-1" style="color: #ffffff;">Bank</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_branch_search"
                                        class="ml-1" style="color: #ffffff;">Branch</a></div>

                                <div class="sub_mar"><a href="/societyModule/societyDetails/scty_chq_book_det_search"
                                        class="ml-1" style="color: #ffffff;">ChequeBook Details</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_acc_schm_search"
                                        class="ml-1" style="color: #ffffff;">Account Scheme</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_acc_typ_search"
                                        class="ml-1" style="color: #ffffff;">Account Type</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_insurance_search"
                                        class="ml-1" style="color: #ffffff;">Insurance</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_kcc_trgt_search"
                                        class="ml-1" style="color: #ffffff;">KCC Targets</a></div>

                                <div class="sub_mar"> <a href="/societyModule/societyDetails/scty_kcc_cr_lim_search"
                                        class="ml-1" style="color: #ffffff;">KCC Credit Limit</a></div>
                            </ul>
                        </li>
                        <li>
                            <a href="/login/deposits">
                                <i class="material-icons" style="font-size: 25px;">thumbs_up_down</i>
                                <strong class="fnt">Deposits</strong>
                            </a>
                        </li>


                        <li>
                            <a href="/login/loans">
                                <i class="material-icons" style="font-size: 25px;">file_upload</i>
                                <strong class="fnt">Loans</strong>
                            </a>
                        </li>


                      
                        <li>
                            <a href="/login/market">
                                <i class="material-icons" style="font-size: 25px;">local_grocery_store</i>
                                <strong class="fnt">Market</strong>
                            </a>
                        </li>

                        <li>
                            <a href="/login/reports">
                                <i class="material-icons" style="font-size: 25px;">date_range</i>
                                <strong class="fnt">Reports</strong>
                            </a>
                        </li>



                        <li>

                            <a href="/login/payroll">
                                <i class="material-icons" style="font-size: 25px;">payment</i>
                                <strong class="fnt">Payroll</strong>
                            </a>



                        </li>
                        <li>
                            <a href="/login/hr">
                                <i class="material-icons" style="font-size: 25px;">account_box</i>
                                <strong class="fnt">HR</strong>
                            </a>
                        </li>


                        <li>

                            <a href="/login/user">
                                <i class="material-icons" style="font-size: 25px;">person</i>
                                <strong class="fnt">User</strong>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-panel" id="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg colo">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <div class="navbar-toggle">
                                <button type="button" class="navbar-toggler">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </button>
                            </div>
                            <a class="navbar-brand" href="#pablo"><strong>SOCIETY</strong> </a>
                        </div>
                        <button class="navbar-toggler dot" type="button" data-toggle="collapse"
                            data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navigation">
                            <ul class="navbar-nav">
                                <li class="">
                                    <a class="nav-link" href="/dashboards/dashboard/dashboard">
                                        <i class="material-icons" style="font-size: 25px;">dashboard</i>

                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <strong class="fnt">User 1</strong>
                                        <i class="now-ui-icons users_single-02 ml-2"></i>
                                        <p>
                                            <span class="d-lg-none d-md-block"></span>
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right"
                                        aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Upload Photo<i
                                                class=" material-icons ml-2">add_a_photo</i></a>
                                        <a class="dropdown-item" href="#">Logout &nbsp;&nbsp;&nbsp;&nbsp;<i
                                                class=" ml-5 material-icons">power_settings_new</i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->

                <div class="content">
                    <div class="row-sm ">
                        <div class="col-sm">
                            <div class="card tp">
                                <div class="card-header  hdr">
                                    <h5>ACCOUNT SCHEME</h5>
                                </div>
                                <!--Navbar -->
                                <!-- <nav class="mb-1 navbar navbar-expand-lg navbar-collapse">


                                  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent-333">
                                    <ul class="navbar-nav mr-auto">
                                      <li class="nav-item active"> -->

                                <!-- </li> -->
                                <!-- </ul>
                                  </div>
                                </nav> -->
                                <!--/.Navbar -->

                                <div class="card-body">
                                    <div class="content">

                                       
                                                                        <!-- flash message -->
                                    <% if(locals.message){ %>
                                        <div class="text text-center" role="alert" background-color: red;>
                                        <strong style="color:green"><%= message.success_msg %></strong>
                                        </div>
                                        <% } %>
                                        <h6>Search</h6>
                                        <hr>


                                        <form action="/societyModule/societyDetails/search_particular_scheme_rec" method="post" autocomplete="off">


                                            <div class="container row mt-2">
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="scty_acc_schm_code" class="mr-sm-4 col-sm-12 col-md-5"
                                                        style="padding-left:0% !important;">Code</label>
                                                    <input type="text" class="col-sm-12 col-md-6" name="scty_acc_schm_code"
                                                        id="scty_acc_schm_code" placeholder=""onkeypress="return alphanumeric(event)">
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="scty_acc_schm_schm" class="mr-sm-4 col-sm-12 col-md-5"
                                                        style="padding-left:0% !important;">Scheme Type</label>
                                                    <!-- <input type="text" class="col-sm-12 col-md-6" name="scty_acc_schm_schm"
                                                        id="scty_acc_schm_schm" placeholder=""> -->

                                                        <select class="col-sm-12 col-md-6" name="scty_acc_schm_schm" id="scty_acc_schm_schm" >
                                                                <option selected="" disabled="">Select</option>
                                                                <option value="SB">SB</option>
                                                                <option value="CA">CA</option>
                                                                <option value="OD">OD</option>
                                                                <option value="CC">CC</option>
                                                            </select>
                                                </div>
                                            </div>

                                            <input type="submit" name="" id="" class="btn"
                                                value="Search">
                                            <input type="button" class="btn" value="Reset" onclick="resetSchemeSearch()">
                                            <br>
                                            <div class="row">
                                                <div class="d-sm-none d-md-block col-md-10"></div>
                                                <!--<input type="submit" name="btnUplEmp" id="btnUplEmp" class="butn mean-fruit-gradient"
                          value="Add" >
                        <input type="button" class="butn sunny-morning-gradient" id="notif" value="Print">-->

                                                <a id="btnUplEmp"
                                                    href="/societyModule/societyDetails/scty_acc_schm_add?key=ADD"
                                                    input type="text" class="btn add1" name="add" id="add"
                                                    value="Add Cheque Book Details">Add</a>
                                                <input type="button" class="btn print1" id="notif" value="Print"
                                                    onclick="prin();">
                                            </div>

                                            <div id="dtBasicExample_wrapper table-responsive"
                                                class="dataTables_wrapper dt-bootstrap4">

                                                <div class="row">
                                                    <div class="col-sm-12 table-responsive form-inlinee">
                                                        <table id="dtBasicExample"
                                                            class="table table-bordered table-sm dataTable"
                                                            cellspacing="0" width="100%" role="grid"
                                                            aria-describedby="dtBasicExample_info" style="width: 100%;">
                                                            <thead>
                                                                <tr role="row" style="background-color:#bdb891;">
                                                                    <th class="th-sm sorting_asc" tabindex="0"
                                                                        aria-controls="dtBasicExample" rowspan="1"
                                                                        colspan="1" aria-sort="ascending" aria-label="Name
                                              : activate to sort column descending" style="width: 134.2px;">Code</th>
                                                                    <th class="th-sm sorting" tabindex="0"
                                                                        aria-controls="dtBasicExample" rowspan="1"
                                                                        colspan="1" aria-label="Position
                                              : activate to sort column ascending" style="width: 211.2px;">Scheme</th>

                                                                    <th class="th-sm sorting" tabindex="0"
                                                                        aria-controls="dtBasicExample" rowspan="1"
                                                                        colspan="1" aria-label="Salary
                                              : activate to sort column ascending" style="width: 90.2px;">Details
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                    <% for(var i=0;i < schemedetails.length; i++) { %>

                                                                        <tr id="rowid<%= schemedetails[i].sas_n_scheme_id%>" role="row" class="odd">
                                        
                                        
                                                                          
                                                                            <input type="radio" hidden name="radiobutton1rfed"
                                                                              id="radiobutton1rfed<%=schemedetails[i].sas_n_scheme_id%>"
                                                                              value="<%=schemedetails[i].sas_n_scheme_id%>" class="edit" />
                                                                            <input type="radio" hidden name="radiobutton1rfvw"
                                                                              id="radiobutton1rfvw<%=schemedetails[i].sas_n_scheme_id%>"
                                                                              value="<%=schemedetails[i].sas_n_scheme_id%>" class="edit" />
                                                                            <input type="radio" hidden name="radiobutton1rfdel"
                                                                              id="radiobutton1rfdel<%=schemedetails[i].sas_n_scheme_id%>"
                                                                              value="<%=schemedetails[i].sas_n_scheme_id%>" class="edit" />
                                        
                                        
                                                                            <input type="text" name="scheme_id1<%= schemedetails[i].sas_n_scheme_id %>"
                                                                              id="scheme_id1<%= schemedetails[i].sas_n_scheme_id %>"
                                                                              value="<%=schemedetails[i].sas_n_scheme_id %>" hidden>
                                        
                                                                            <input type="text" name="scheme_id<%= schemedetails[i].sas_n_scheme_id %>"
                                                                              id="scheme_id<%= schemedetails[i].sas_n_scheme_id %>"
                                                                              value="<%=schemedetails[i].sas_n_scheme_id %>" hidden>
                                        
                                                                            <input type="text" name="scheme_id2<%= schemedetails[i].sas_n_scheme_id %>"
                                                                              id="scheme_id2<%= schemedetails[i].sas_n_scheme_id %>"
                                                                              value="<%=schemedetails[i].sas_n_scheme_id %>" hidden>
                                        
                                        
                                                                         
                                        
                                                                          <td class="sorting_1"><%= schemedetails[i].sas_ch_scheme_code %></td>
                                                                          <td><%= schemedetails[i].sas_ch_scheme_type %></td>
                                                                       
                                                                          <td>
                                                                            <input type="text" name="rfed<%=schemedetails[i].sas_n_scheme_id%>"
                                                                              id="rfed<%=schemedetails[i].sas_n_scheme_id%>"
                                                                              value="<%=schemedetails[i].sas_n_scheme_id %>" hidden><i style="font-size:16px"
                                                                              class="fa"  data-toggle="tooltip" title="Edit" id="ed<%= schemedetails[i].sas_n_scheme_id %>"
                                                                              onclick="edit_scheme_row(this)">&#xf044;</i>
                                        
                                                                            <input type="text" name="vfvw<%=schemedetails[i].sas_n_scheme_id%>"
                                                                              id="vfvw<%=schemedetails[i].sas_n_scheme_id%>"
                                                                              value="<%=schemedetails[i].sas_n_scheme_id %>" hidden><i style="font-size:16px"
                                                                              class="fa"  data-toggle="tooltip" title="View" id="vw<%= schemedetails[i].sas_n_scheme_id %>"
                                                                              onclick="view_scheme_row(this)">&#xf06e;</i>
                                    
                                                                              <input type="text" name="dfdel<%=schemedetails[i].sas_n_scheme_id%>"
                                                                              id="dfdel<%=schemedetails[i].sas_n_scheme_id%>"
                                                                              value="<%=schemedetails[i].sas_n_scheme_id %>" hidden>
                                                                              <i class="fa" data-target="#remove_scheme_modal" 
                                                                                                data-toggle="modal" title="Delete" id="del<%= schemedetails[i].sas_n_scheme_id %>"
                                                                                onclick="delete_scheme_row(this)">&#xf2ed;</i>
                                        
                                                                          </td>
                                                                        </tr>
                                        
                                                                        <% } %>
                                        


                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>

                                            </div>

                                            <br>


                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include ../includes/footer %>
            </div>
        </div>

        <form action="/societyModule/societyDetails/delete_scheme_data" method="post" id="account_scheme">
            <div class="modal fade" id="remove_scheme_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-notify modal-warning" style="width: 30%; margin-top: 10%;"
                    role="document">
                    <div class="modal-content">

                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-4">
                                <button type="button" class="close mr-1" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                </button></div>
                        </div>


                        <div class="modal-body">
                            <p align="center" class="content1 setcontent" id=""> </p> <br>
                            <p align="center">Are you sure want to delete this record!?<br>
                                Please note that this action is irreversible.</p>
                            <input id="tempschiddel" name="tempschiddel" hidden>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn col-4 mr-1" onclick="delete_scheme_row_onconfirm()">Confirm</button>
                            <button type="submit" class="btn col-4 ml-1" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>



    </body>

    <% include ../includes/bottom_scripts %>

</html>